<div class="todos-wrapper">
    <div class="container">


        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">This is the todo text</p>
        </div>

        <div class="todo-item">
                <div class="check-box">
                    <i class="material-icons-outlined">check</i>
                </div>
                <p class="todo-text">This is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo textThis is the todo text</p>
            </div>
    </div>

</div>