<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">

            <div class="note-card" *ngFor="let note of notes">
                <div class="note-card-title">{{ note.title }}</div>
                <div class="note-card-content">{{ note.content }}</div>
            </div>

        </div>
        <div class="btns-container btns-centered">
            <a routerLink="add" class="btn add-btn">
                <i class="material-icons-outlined">add</i>  
                Add
            </a>
        </div>
        

    </div>
</div>