.bookmark-tile {
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap:12px; 

    padding: 10px;

    background: rgba(black, 0.55);
    border-radius: 5px;

    width: 110px;
    height: 100px;

    cursor: pointer;

    transition: all 0.1s;
    
    &:hover {
        background: rgba(black, 0.68);
        backdrop-filter: blur(2px);
    }

    &:active {
        background:  rgba(black, 0.75);
        transform: translateY(2px);
        transition-duration: 0s;
    }
}

.bookmark-tile img {
    max-width: 32px;
}

.tile-text {
    font-size: 14px;
    color:rgba(white, 0.85);

    max-width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
